<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>


{% comment %} <link rel="icon" href="http://monisho.com/static/favicon.ico"> {% endcomment %}
{#	<link rel="icon" href="{% static "favicon.ico" %}">#}
  <meta charset="utf-8">
  <script type="text/javascript" language="Javascript" src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.3.min.js"></script> 

  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>