<!-- templates/home.html-->


{% extends 'base.html' %}

{% load static %}
{% block content %}

    <!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><! <html class="no-js" lang=""> <![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>shorturlbd</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon.png" %}">
        <link rel="icon" type="image/x-icon" href="{% static "img/favicon.ico" %}">
        <meta name="theme-color" content="#000000">


        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "css/jquery.fancybox.min.css" %}">
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">

        <script src="{% static "js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" %}"></script>
        
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KX5WC3P');</script>
        <!-- End Google Tag Manager -->
    </head>
    
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KX5WC3P"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        

{#            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>#}



        <header>
          <div class="container">
            <div class="row">
                  <nav class="navbar navbar-fixed-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header page-scroll">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".menunav">
                                <span class="sr-only">Menü</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand page-scroll" href="#page-top"><img src="{% static "img/logo.png" %}" alt="Clean"></a>
                        </div>

                        <!-- <div class="collapse navbar-collapse menunav">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="hidden">
                                    <a class="page-scroll" href="#page-top"></a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#featured">Work</a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#team">Team</a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#contact">Contact</a>
                                </li>
                            </ul>
                        </div> -->
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container -->
                </nav>

            </div>
          </div>
        </header>

        <div class="clearfix"></div>    

        <!-- hero Section -->
        <section id="hero" class="hero-section">
            <div class="container">
                <div class="row"> 
                    <div class="col-lg-12">
                        <h1>Make your URL short for 30 days!</h1>
                        <p>Put your url link and email below and submit it.</p>



                        <p id="p12"></p>

{#                        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>#}
{#                        <script src="{% static 'js/main.js' %}"></script>#}
{##}
{#                        <script>#}
{##}
{#                            $(document).ready(function () {#}
{##}
{#                                var url_char = $(".url-add")#}
{#                                url_char.submit(function (event) {#}
{#                                    document.getElementById("url-add").submit();#}
{#                                    event.preventDefault();#}
{#                                })#}
{##}
{##}
{#                            })#}


                            {#$("#id_url_char").change(function () {#}
                            {#    console.log( $(this).val() );#}
                            {#  var url_char = $(this).val();#}
                            {##}
                            {#  $.ajax({#}
                            {#    url: '/ajax/validate_url/',#}
                            {#    data: {#}
                            {#      'url_char': url_char#}
                            {#    },#}
                            {#    dataType: 'json',#}
                            {#    success: function (data) {#}
                            {#      if (data.is_taken) {#}
                            {#        alert("this link already exists.");#}
                            {#      }#}
                            {#    }#}
                            {#  });#}
                            {##}

{#                        </script>#}



{##}
{#                        <form id="formId" action="." method='POST' >#}
{#                            {% csrf_token %}#}
{#                            {{ form.as_p }}#}
{#                            <input type="submit" id="submitId" value="Submit">#}
{#                        </form>#}

                        <form id="form" name="form" method="POST" action="">
                            {% csrf_token %}
                            <br>
                            <label>URL</label>
                            <input type="text" name="url" id="url"  />
                            <br>
                            <label>Email</label>
                            <input type="email" name="email" id="email" />
                            <br>
                            <input type="submit" name="Update" id="update" value="Update" />
                        </form>


                        <br>


                        <script>
                            $("#update").click(function(e) {
                              e.preventDefault();
                              if ($("#url").val().indexOf('.') > -1)
                                {
                                  {#alert("yes");#}

                                  $.ajax({
                                      type :'POST',
                                      url : '/55/55/',
                                      data : {
                                          'url_char': $("#url").val(),
                                          'email': $("#email").val(),
                                          'csrfmiddlewaretoken': '{{ csrf_token }}',
                                     },
                                      success:function(data_response) {

                                          $("#form").hide();
                                          if ('{{ created_obj }}' == null || '{{ created_obj }}' === undefined){
                                              alert("Failed!")
                                          }else
                                          {
                                              var k = data_response.split(" ");
                                              var link = window.location.href + k[2];
                                              var final = "Your generated link is:  " + link.link(link) + "\n It will be available till " + k[4]
                                              {#alert(final);#}
                                              document.getElementById("p12").innerHTML = final;

                                              {#alert(k[1]);#}
                                              {#alert(k[2]);#}
                                              {#alert(typeof data_response);#}


                                              {#alert(data);#}
                                              {#alert(data.url_char);#}
                                              {#alert(data[url_char]);#}
                                              {#alert(data['url_char']);#}
                                              {#alert(data_response.site);#}
                                              {#alert('{{ form.created_at }}');#}

                                          }
                                          {#document.getElementById("success").innerHTML = '{{ form.email }}' ;#}
                                          {#alert(data)#}
                                          {#alert(data.url_char)#}






                                      },
                                      failure: function(result){
                                          alert(result)
                                      }

                                  });
                                }

                              else {
                                  alert("Please Enter a valid URL!")
                              }


                            });





                        </script>




{##}
{#                        <script>#}
{#                        // using JQuery#}
{#                         $(document).ready(function(){#}
{#                                $("#submitId").click(function(e){#}
{##}
{#                                    e.preventDefault();#}
{#                                    $("#formId").submit();#}
{#                                    e.preventDefault();#}
{#                                    $("#formId").hide();#}
{#                                    alert("Your form was successfully submitted");#}
                                    {#swal("Good job!", "You clicked the button!", "success");#}
{##}
{#                                    e.preventDefault();#}
{#                                    });#}
{#                            });#}
{#                        </script>#}












                        <!-- button for down scrolling
                        <a class="down-button page-scroll" href="#featured"><img src="img/down-button.png" alt="Down"></a> -->
                    </div>
                </div>
            </div>
        </section>

        <div class="clearfix"></div>

        <!-- Featured Work -->
        <!-- <section id="featured" class="featured-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="title">Featured Work</h2>
                    </div>
                    <div class="col-lg-12">
                        <p class="desc">Here you can find some of our latest works, to see the details of these works just click the thumbnails below.</p>
                    </div>
                    
                     <div class="work-container">
                      <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="work">
                            <a data-fancybox="gallery" href="img/work/big/work-1.jpg" title="Modi sunt autem harum quae voluptate laboriosam enim ab aperiam, ducimus nam excepturi accusantium culpa rerum dolor asperiores omnis fugiat dignissimos voluptatibus!"><img class="img-responsive" src="img/work/small/work-1.jpg" alt="Featured Work"></a>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="work">
                            <a data-fancybox="gallery" href="img/work/big/work-2.jpg" title="Rerum dignissimos ipsam quos corporis, voluptates cum nisi accusantium incidunt. Hic aperiam officia, voluptates nisi totam. Porro quibusdam dolores fuga. Dolores, dolorem!"><img class="img-responsive" src="img/work/small/work-2.jpg" alt="Featured Work"></a>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="work">
                            <a data-fancybox="gallery" href="img/work/big/work-3.jpg" title="Assumenda deleniti quibusdam dicta, maiores distinctio a, rerum debitis quae libero officiis aperiam est at esse nobis et vitae quis voluptates laudantium?"><img class="img-responsive" src="img/work/small/work-3.jpg" alt="Featured Work"></a>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="work">
                            <a data-fancybox="gallery" href="img/work/big/work-4.jpg" title="Cumque repellendus molestias reiciendis pariatur labore numquam, ad delectus minus ex animi maiores nesciunt dolor voluptatum, accusamus qui saepe odit eligendi assumenda!"><img class="img-responsive" src="img/work/small/work-4.jpg" alt="Featured Work"></a>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="work">
                            <a data-fancybox="gallery" href="img/work/big/work-5.jpg" title="Animi alias vero ipsam, voluptas cupiditate minus? Recusandae repellat, eveniet! Obcaecati accusamus amet blanditiis vel fugiat perferendis animi voluptatem laudantium perspiciatis, quae?"><img class="img-responsive" src="img/work/small/work-5.jpg" alt="Featured Work"></a>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="work">
                            <a data-fancybox="gallery" href="img/work/big/work-6.jpg" title="Quaerat excepturi maiores, perferendis a natus unde temporibus modi asperiores, libero provident tenetur fugiat odit voluptate. Facere quod itaque fugit enim porro."><img class="img-responsive" src="img/work/small/work-6.jpg" alt="Featured Work"></a>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="work">
                            <a data-fancybox="gallery" href="img/work/big/work-7.jpg" title="Veniam omnis dolor ratione, sint eius! Fuga expedita deserunt nostrum atque rem veritatis aperiam, unde alias rerum illum ad ducimus placeat! Quis."><img class="img-responsive" src="img/work/small/work-7.jpg" alt="Featured Work"></a>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="work">
                            <a data-fancybox="gallery" href="img/work/big/work-8.jpg" title="Inventore, soluta cumque! Neque earum vero nemo quo voluptas voluptates sequi? Totam laborum reiciendis cum blanditiis vero fugiat voluptas, nulla enim ducimus."><img class="img-responsive" src="img/work/small/work-8.jpg" alt="Featured Work"></a>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="work">
                            <a data-fancybox="gallery" href="img/work/big/work-9.jpg" title="Atque, reiciendis recusandae, aut possimus quasi distinctio doloremque hic ipsam animi assumenda a ex perspiciatis, aliquid, omnis blanditiis reprehenderit voluptates eius doloribus."><img class="img-responsive" src="img/work/small/work-9.jpg" alt="Featured Work"></a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </section> -->

        <div class="clearfix"></div>

        <!-- team Section -->
        <!-- <section id="team" class="team-section whitesmoke">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="title">Team</h2>
                    </div>
                    <div class="col-lg-12">
                        <p class="desc">We are a hard working group, who's aim is to listen to your problems and to come up with the best solution possible. We follow the lates trends on the web to create custom talierd niche websites.</p>
                    </div>

                    <div class="team-container">
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="team">
                                <img src="img/team/team-1.jpg" class="img-circle" alt="Jack Long">
                                <h3>Jack Long</h3>
                                <p>Lead Developer</p>
                                <div class="social-media">
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="team">
                                <img src="img/team/team-2.jpg" class="img-circle" alt="Erika Kim">
                                <h3>Erika Kim</h3>
                                <p>Lead Designer</p>
                                <div class="social-media">
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="team">
                                <img src="img/team/team-3.jpg" class="img-circle" alt="Phyllis Anderson">
                                <h3>Phyllis Anderson</h3>
                                <p>Marketing Director</p>
                                <div class="social-media">
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="team">
                                <img src="img/team/team-4.jpg" class="img-circle" alt="Carlos King">
                                <h3>Carlos King</h3>
                                <p>Business Director</p>
                                <div class="social-media">
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section> -->

        <div class="clearfix"></div>

        <!-- Contact Section -->
        <!-- <section id="contact" class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="title">Contact</h2>
                    </div>
                    <div class="col-lg-12">
                        <p class="desc"></p>
                    </div>
                    <div class="form-container">
                        <div class="col-lg-4 col-md-4">
                            <p>Where are we located?</p>

                            <div class="box-shadow maps">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d236153.23802168202!2d113.98092949390625!3d22.35761795662691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3403e2eda332980f%3A0xf08ab3badbeac97c!2sHong+Kong!5e0!3m2!1str!2str!4v1490434555366" width="100%" height="350"  frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <p>Want to contact us now? Just drop us a line below.</p>
              
                            <form role="form" id="contact-form" class="contact-form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="form-control textarea whitesmoke" rows="3" name="Message" id="Message" placeholder="Leave us a message..."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                               <input type="email" class="form-control whitesmoke" name="email" autocomplete="off" id="email" placeholder="your@mail.com">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-block main-btn pull-right"><i class="fa fa-upload" aria-hidden="true"></i> SEND</button>
                                            </div>
                                        </div>
                                    </div>
                            </form>
   
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- Footer -->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <p>Adress: Bashundhara r/a, Block A, Road No. 2</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <p class="text-right">shorturlbd@gmail.com</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.11.2.js" %}"><\/script>')</script>

        <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
        <script src="{% static "js/jquery.easing.min.js" %}"></script>
        <script src="{% static "js/scrolling-nav.js" %}"></script>
        <script src="{% static "js/jquery.fancybox.min.js" %}"></script>

        <script src="{% static "js/plugins.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
    </body>
</html>


{% endblock %}