<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}



{% block content %}

<p> Please wait a moment !</p>



<script type="text/javascript">
<!--


// Simulate an HTTP redirect:
window.location.replace("{{link_instance.url_char}}", "_newtab");

//-->
</script>




{% endblock %}